
/* //////////////////////////////////////////////
//////////////////////////////////////////////
////////////////   GENERALI   ////////////////
//////////////////////////////////////////////
////////////////////////////////////////////// */
*{
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

header{
  display: flex;
}

.container-20{
  display: flex;
  width: 30%;
  height: 100px;
}

.container-40{
  display: flex; 
  width: 35%;
  height: 100px;
}

.left{
  justify-content: space-around;
  align-items: center;
}

.center{
  justify-content: flex-end;
  align-items: center;
}

.right{
  justify-content: space-around;
  align-items: center;
}

ul{
  
  list-style: none;
  font-size: 20px;  
}

h3{
  padding: 20px 0;
}

.active{
  display: flex;
}



/* //////////////////////////////////////////////
//////////////////////////////////////////////
////////////////   LEFT   ////////////////
//////////////////////////////////////////////
////////////////////////////////////////////// */

.left img{
  height: 50px;
}

.left ul{
  display: flex;
}

.left ul li a{
  padding-right: 40px;
  text-decoration: none;
  color: #CED5DB;
}

.left ul li a:hover{
  color:#191C1F;
}


/* //////////////////////////////////////////////
//////////////////////////////////////////////
////////////////   CENTER   ////////////////
//////////////////////////////////////////////
////////////////////////////////////////////// */

.center ul{
  display: flex;
}

.center ul li a{
  padding: 0 20px;
  text-decoration: none;
  color: #CED5DB;
  position: relative;
}

.btn-grey{
  border-radius: 5px;
  background-color: lightgray;
  color: black;
}

.btn-black{
  border-radius: 5px;
  background-color: black;
  color: white;
}

.center ul li a:hover{
  color:#191C1F;
}


/* //////////////////////////////////////////////
//////////////////////////////////////////////
////////////////   DROP-MENU   ////////////////
//////////////////////////////////////////////
////////////////////////////////////////////// */

.drop-menu{
  display: flex;
  position: absolute;
  top:6%;
  border-radius: 15px;
  background-color: blueviolet;
  display: none;
}

.drop-menu ul{
  display: block;
}

.drop-menu ul li{
  padding: 15px 0 15px 0;
}






/* //////////////////////////////////////////////
//////////////////////////////////////////////
////////////////   RIGHT   ////////////////
//////////////////////////////////////////////
////////////////////////////////////////////// */
.right a{
  padding: 0 20px;
  text-decoration: none;
  line-height: 40px;
  font-size: 20px;
}

.btn-grey{
  border-radius: 10px;
  background-color: lightgray;
  color: black;
}

.btn-black{
  border-radius: 10px;
  background-color: black;
  color: white;
}

.btn-black:hover{
  background-color: #3E4043;
}
.btn-grey:hover{
  background-color: #EBEBEB;
}